<h1 >Registration</h1>
<hr>
<br/>
<div class="form-wrapper">
    <form #loginForm="ngForm" (ngSubmit)="onSubmit(username.value, email.value, password.value, name.value, middleName.value, lastName.value )">
        <div class="input-wrapper">
            <mat-form-field>
                <input #username matInput placeholder="Username" (ngModel)="inpUsername" required>
                <mat-hint >At least 4 characters</mat-hint>
            </mat-form-field>
            <mat-form-field>
              <input #email matInput placeholder="Email" (ngModel)="inpEmail" required> 
            </mat-form-field>
            <mat-form-field>
                <input #name matInput placeholder="Name" (ngModel)="inpName" required> 
            </mat-form-field>
            <mat-form-field>
                <input #middleName matInput placeholder="middleName"> 
            </mat-form-field>
            <mat-form-field>
                <input #lastName matInput placeholder="lastName" > 
            </mat-form-field>
            <mat-form-field >
                <input #password matInput placeholder="Password" (ngModel)="inpPassword" type="password" required >
                <mat-hint >At least 5 characters</mat-hint>
            </mat-form-field>
        </div>
        <div class="button-wrapper">
                <button mat-button type="submit">Register</button>
        </div>
    </form>
</div>
