.itemWrapper{
    padding: 5px;
    background-color: #e8edf4;
    border-radius: 5px;
    margin-bottom: 1%
}



h2{
    
    font-size: 20px;
}

.row{
    padding: 5px;
}
.column{
    display: flex;
}
.center{
    display: flex;
    align-self: center;
}