h1{
    padding-left: 10px;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
}

.userDetailsWrapper{
    padding: 4%;
}
.userAddressWrapper{
    padding: 4%;
}

.sided{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-direction: row;
    justify-content: center;
}